@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  box-sizing: border-box;
}

/* Fondo general */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("image/mujer skincare.png");
  background-size: cover;
  background-position: center;
  padding: 20px;
}

/* ---------- TARJETA DIVIDIDA EN DOS ---------- */
.login-card {
  display: flex;
  width: 850px;
  height: 460px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
}

/* ---------- LADO IZQUIERDO: LOGIN ---------- */
.login-left {
  width: 50%;
  padding: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-left h2 {
  margin-bottom: 25px;
  font-size: 1.9rem;
  font-family: "Playfair Display", serif;
}

/* INPUTS */
.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  color: white;
  margin-bottom: 8px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: #f1e9e4;
  outline: none;
}

/* BOTÓN */
.login-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #f1e9e4;
  color: black;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #0e63e2;
}

/* ---------- LADO DERECHO: GLAMLOOP ---------- */
.login-right {
  width: 50%;
  background: #f1e9e4;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.login-right h1 {
  font-size: 3rem;
  margin: 0;
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
}

.login-right p {
  font-size: 1.1rem;
  margin-top: 15px;
  opacity: 0.7;
}

/* -------- RESPONSIVE (MÓVILES) -------- */
@media (max-width: 700px) {
  .login-card {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .login-left,
  .login-right {
    width: 100%;
    padding: 25px;
  }

  .login-right {
    height: 200px;
  }

  .login-right h1 {
    font-size: 2.2rem;
  }
}
