/* BOTÓN HAMBURGUESA (ESCONDE EN DESKTOP) */
.menu-toggle {
  display: none; /* Oculto por defecto */
  font-size: 2rem; /* Tamaño del ícono hamburguesa */
  background: none; /* Sin fondo */
  border: none; /* Sin bordes */
  cursor: pointer; /* Manito al pasar el mouse */
  margin-right: 1rem; /* Espacio entre el borde derecho */
  margin-left: auto;
}

/* RESPONSIVE: MÓVILES */
@media (max-width: 768px) {
  .menu-toggle {
    display: block; /* Mostrar botón hamburguesa en móviles */
    color: black;
  }

  .Menu-Horizontal {
    display: none; /* Ocultar menú horizontal por defecto */
    flex-direction: column; /* Mostrarlo en vertical al activarse */
    width: 100%;
    background-color: white;
    position: absolute;
    top: 5rem; /* Debajo del menú fijo */
    left: 0;
  }

  .Menu-Horizontal.active {
    display: flex; /* Mostrar menú al activar la clase */
  }

  .Menu-Horizontal li {
    border-bottom: 1px solid #ccc; /* Líneas separadoras */
    position: relative;
  }
  .Menu-vertical {
    position: static;
    background-color: #f9f9f9;
    width: 100%;
  }

  /* Por defecto ocultamos el submenú del li que tiene submenú */
  .Menu-Horizontal li.has-submenu .Menu-vertical {
    display: none;
  }

  /* Cuando el li tenga la clase .open, mostramos el submenú */
  .Menu-Horizontal li.has-submenu.open .Menu-vertical {
    display: block;
  }
}
